/* @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'; */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.navar-second {
	top: 65px;
}
.navbar-first>.container {
	justify-content: flex-start;
}
.router-container{
    
    top: 120px;
    position: absolute;
}

#mainNav {
    background-color: #212529
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-first>.container {
	justify-content: flex-start;
}

#mainNav.navbar-shrink {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #212529;
}

.menu-wrapper {
	/* width: 100%; */
	display: flex;
	justify-content: flex-end;
}
#gallary>.container{
   
    }
@media ( min-width : 992px) {
	#mainNav {
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: #212529;
	}
	.navbar-expand-lg .navbar-collapse {
		margin-left: 5.5%;
	}
	.navbar-left-store-name {
		font-size: 1.75em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-left-store-name {
		font-size: 1.25em;
		padding: 12px 0;
	}
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
		flex-direction: row-reverse;
	}
}
h1{
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}