<div class="app-container">
    <h1>Memco Mobile Shop</h1>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-first"
    style="background: #fff;padding:16px">
    <div class="container logostore" style="display: flex;">

        <a href="#" class="navbar-brand"><img class="nav-logo"
            style="height: 40px;" src="https://s3.amazonaws.com/epage.trackwalkins.com/60e340a7-95cc-7d7e-1350-708d3e1ab137.png" alt=""></a>
        <h1 class="brand brand-name navbar-left">
            <div class="navbar-brand>
                js-scroll-trigger" style="font-weight: 600; font-size: 18px">
                Suri Store</div>
        </h1>

    </div>
    <!-- /.container -->
</nav>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navar-second"
		id="mainNav">
		<div class="container">
			<!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
			<div class="menu-wrapper">
				<button class="navbar-toggler navbar-toggler-right" type="button"
					data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false"
					aria-label="Toggle navigation">
					Menu <i class="fa fa-bars"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-template2" id="navbarResponsive" style="width:100%; justify-content: space-between;">
				<ul class="navbar-nav text-uppercase">

					<li class="nav-item"><a class="nav-link js-scroll-trigger"
                        scrollTo="home">Home</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						scrollTo="gallary">PHOTO </a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#updates">Updates</a></li>
						
					
					
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							href="#products">Products</a></li>
					
					
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#about">About</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right col-sm-3 fb-whatsapp-share" style="margin-right: 40px;">
				<li></li>
				<li style="    margin-left: 7%;"> <!-- <span style="color:#fff;margin-left: 5px;"><i class="fab fa-whatsapp"  style=" font-size: 20px;"></i><b>+91 7874842487</b></span> -->
				</li>

			</ul>

			</div>

		</div>
	</nav>
    <div class="router-container">
        <section id="home" class="service-section home-section">
            <div class="container">
                <div class="section-header">
                    <h2>Home</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                </div>
            </div>
        </section>
        <section id="gallary" class="service-section home-section">
            <div class="container">
                <div class="section-header">
                    <h2>PHOTO Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                    <h2>Our Services</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab
                        adipisci eius nisi placeat
                        at.
                    </p>
                </div>
            </div>
        </section>

    </div>
</div>